.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Heading */
.title {
  width: fit-content;
  margin: 20px auto 60px;

  padding: 20px 90px;

  font-size: 42px;
  font-weight: 700;
  text-align: center;

  border: 5px dashed #171f8f;
  border-radius: 20px;

  background-color: white;
}

/* Cards container */
.cards {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 30px;

  align-items: stretch;
}

/* if the screen size changes  */
@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    font-size: 32px;
    padding: 15px 50px;
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 26px;
    padding: 15px 30px;
  }
}