.filter-container{
  display:flex;
  justify-content:center;
  gap:15px;
  flex-wrap:wrap;
  padding:20px;
}

.filter-btn{
  background:#22203a;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
  transition:0.3s;
}

.filter-btn:hover{
  background:#ffffff;
  color:#15132b;
}

.active{
  border:2px solid white;
}