  


/* =========================
   Product Date
   ========================= */

.product-item > div:first-child {
    width: 90px;
    height: 90px;

    background-color: #292929;
    color: white;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}


/* Month */

.product-date_month {
    font-size: 16px;
    font-weight: bold;
}


/* Year */

.product-date_year {
    font-size: 15px;
}


/* Day */

.product-date_day {
    font-size: 30px;
    font-weight: bold;
}


/* =========================
   Product Title
   ========================= */

.product-item h2 {
    flex: 1;

    margin: 0;

    text-align: center;

    font-size: 38px;
    font-family: Arial, sans-serif;

    color: red;

    text-shadow: 1px 1px 2px black;
}